/.idea/
/.circleci/
/.nyc_output.func/
/coverage.functional/
/.nyc_output/
/ci/
/coverage/
/data/
/.prettierrc
/Dockerfile
/start-dev
/start-uat
/sonar-project.properties
/.eslintrc.json
/start-ci
/mongoRestore
/.gitignore
/mongoDump
/.editorconfig
/start-build
/fileStorage/
/.git/
/features/
/unitTests/
/**/*.test.js
/**/.DS_Store
/.dockerignore
/.mocharc.yml
/node_modules
/**/*.md
/**/.gitkeep
/.yggdrasilrc